<nav class="navbar bg-white shadow-sm px-3 px-md-4 flex-shrink-0">
    <div class="d-flex align-items-center justify-content-between w-100 gap-3">

        <!-- SdieBar Toggle Button -->
        <div>
            <i class="bi bi-list fs-3" (click)="toggleSidebar()"></i>
        </div>

        <!-- Left: Search -->
        <div class="flex-grow-1 searchBar">
            <input type="text" class="form-control" placeholder="Search..." />
        </div>

        <!-- Right: Bell Icon -->
        <div class="position-relative d-inline-flex align-items-center pe-4">
            <i class="bi bi-bell-fill fs-5"></i>
            <!-- <span
                class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle redDot">
                <span class="visually-hidden"></span>
            </span> -->
        </div>
    </div>
</nav>