<div class="bg-dark text-white vh-100 p-4 overflow-y-auto featureItems">

    <div class="d-flex align-items-center gap-3">
        <div class="bg-primary p-1 rounded-3 d-flex align-items-center justify-content-center trackerLogo">
            <i class="bi bi-currency-dollar fs-4"></i>
        </div>

        <div class="d-flex flex-column lh-1">
            <span class="text-white fw-bold fs-5 mb-1">Expense</span>
            <span class="text-primary fw-bold fs-5">Tracker</span>
        </div>
    </div>

    <ul class="nav flex-column mt-5">
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/dashboard" (click)="onNavClicked()">
                <i class="bi bi-house-door-fill pe-2"></i>Dashboard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/expenses" (click)="onNavClicked()"><i
                    class="bi bi-plus-circle-fill pe-2"></i>Add
                Expense</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/transactions" (click)="onNavClicked()"><i
                    class="bi bi-bank pe-2"></i>Transactions</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/groups" (click)="onNavClicked()"><i
                    class="bi bi-people pe-2"></i>Groups</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/categories" (click)="onNavClicked()"><i
                    class="bi bi-tags pe-2"></i>Categories</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/reports" (click)="onNavClicked()"><i
                    class="bi bi-graph-up pe-2"></i>Reports</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/budget" (click)="onNavClicked()"><i
                    class="bi bi-piggy-bank pe-2"></i>Budget</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/settings" (click)="onNavClicked()"><i
                    class="bi bi-gear pe-2"></i>Settings</a>
        </li>
    </ul>

    <!-- <div class="dropdown border border-primary rounded-3 profileDropdown">
        <a href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle p-2 rounded custom-profile-btn"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle me-3 fs-4"></i>

            <div class="d-flex flex-column text-start me-auto">
                <strong class="lh-1 mb-1">Balaji</strong>
                <small class="text-secondary" style="font-size: 0.75rem;">balaji@example.com</small>
            </div>
        </a>
    </div> -->

</div>