<div class="d-flex vh-100 ">

    @if (isSidebarOpen) {
    <div class="sidebar-backdrop d-lg-none" (click)="isSidebarOpen = false"></div>
    }

    <div [class.sidebar-closed]="!isSidebarOpen" class="sidebar-wrapper">
        <app-sidebar (linkClicked)="closeSidebarOnMobile()"></app-sidebar>
    </div>

    <div class="d-flex flex-column flex-grow-1 overflow-hidden">
        <app-navbar></app-navbar>
        <div class="flex-grow-1 overflow-y-auto p-3 p-md-4 bg-light">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>